<footer class="footer">
  <div class="footer-container">
    <div class="footer-about">
      <h2>HeartFund</h2>
      <p>Transforming Ideas into Reality.</p>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="{% url 'home:index' %}">Home</a></li>
        <li><a href="#content">Campaigns</a></li>
        <li><a href="{% url 'projects:add_project' %}">Start a Campaign</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
  </div>
</footer>
